  <div class="row red lighten-5" style="height:100vh;">
    <div class="container">
        <div class="col m2"></div>
        <div class="col s12 m4">
            <a href="/inpo/play2">
              <div class="card-panel pink lighten-4 valign-wrapper" style="height: 250px;">
                  <div class="col m4 s4"></div>
                  <div class="col m4 s4 start" style="text-align: center;">Record Mode</div>
                  <div class="col m4 s4"></div>
              </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="/inpo/play">
              <div class="card-panel pink lighten-4 valign-wrapper" style="height: 250px;">
                  <div class="col m4 s4"></div>
                  <div class="col m4 s4 start" style="text-align: center;">Quick Mode</div>
                  <div class="col m4 s4"></div>
              </div>
            </a>
        </div>
        <div class="col m2"></div>
    </div>
  </div>
  <style>
      a{
          color: black;
      }
      .start{
          font-size: 22px;
      }
  </style>